# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
.DS_Store
data
.vscode/

/terminal/server.crt
/terminal/server.key
/terminal/terminalmac
/terminal/terminallinux
/terminal/terminalwin
/terminal/terminal
/terminal/task
/terminal/files/
/test
/terminal/ldb/
/terminal/terminallinux
/terminal/tokenfile

/terminal/testrun.go
/terminal/build/
/terminal/routerpath/api/selfsigned.key
/terminal/routerpath/api/selfsigned.crt
/terminal/spaceholder/
/terminal/testrun/
/terminal/downloadldb/
/terminal/debug/
/terminal/v2.1.0
/terminal/meson
